


<!DOCTYPE html>
<html>
<head>
    <title>Merged Integers</title>
    
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h2>URL</h2>
    <form id="urlForm" action="/" method="post">
      

        <label for="urls">Enter URLs :</label>
    
        <input type="text" id="urls" name="urls" placeholder="Enter URLs (comma-separated)" required>
        <button type="submit">Merge Integers</button>
    </form>
    
    <h1>Merged Integers:</h1>
    <% if (numbers.length > 0) { %>
        <p><%= numbers.join(', ') %></p>
    <% } else { %>
        <p>No integers to display.</p>
    <% } %>
    <div id="result"></div>
    <script src="script.js"></script>
</body>
</html>



